

.RecentWorks {
    min-height: 100vh;
    overflow-x: scroll;
}

.RecentWorks .about-head {
    padding: 20px 40px;
}

.about-btn .works-btn {
    color: #000;
    background: transparent;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in;
}
.about-btn .works-btn:hover{
    opacity: .8;
}

.works-showcase {
    padding-top: 80px;
}
.works-showcase .slide-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    position: relative;

}
.slide-container > div > img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.slide-container div{
    position: relative;
}
.slide-container span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width : 500px) {
    .about-btn .works-btn {
        padding: 0;
    }
    
}